.container {
    margin-top: 50px;
    text-align: center;
    /* Center the cards within the container */
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #f8f9fa;
    display: inline-block;
    /* Display cards inline */
    vertical-align: top;
    /* Align cards to the top of the container */
}

.card h4 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    color: #666;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.container h1 {
    font-weight: bold;
    color: black;
}

.container {
    margin-top: 50px;
    text-align: center;
    /* Center the cards within the container */
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #f8f9fa;
    display: inline-block;
    /* Display cards inline */
    vertical-align: top;
    /* Align cards to the top of the container */
}

.card h4 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    color: #666;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.container h1 {
    font-weight: bold;
    color: black;
}